:root, body {
    --np-color-white: rgba(250, 242, 242, 0.568);
    --np-color-black: #000;
    --np-background-dark: #413a63;
    --np-background-light: #fff;
    --type-heading-h1:var(--np-color-black) oblique 21deg 500 ;

}
.logoarea{
    display: block;
    border: 2px double darkred;

}

.pgcontainer {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    
}
.contents-table {
    display: flex;
    flex-flow: column wrap;
    background-color:rgba(158, 188, 245, 0.678);
    padding: 1vw;
    height:100%;
    gap: 1vw;
    flex-grow: 1;
    grid-row: 1/3;
}
quiz-area {
    grid-column: 2/3;
}
.np-heading{
    /* font: var(--type-heading-h1); */
    letter-spacing: .5px;
    margin-bottom: 3rem;
    word-break: break-word;
    
}
.quizcontainer {
    display: flex;
    flex-flow: column wrap;
    height:auto;
    width: 100%;
    background-color: azure;
    gap: 1vw;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    word-break: break-word;
    /* Grid takes care of this
    margin-left: 20%;
    margin-right: 20%; */
}
.question{
    height:auto;
    width:100%;
    background-color: aliceblue;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    word-break: break-word;
    font-size: 20px;
}

.optionbutton{
    background: transparent;
    border:2px 2px blue;
    box-shadow: 0px 1px 4px -2px #333;
    
    border-radius: 5px;
    height: 100%;
    width:100%;
    text-align: left;
    font-size: 18px;

}
.navbutton {
    height:30px;
    width:70px;
    background-color:darkgreen;
    background-image: linear-gradient(darkgreen,darkseagreen);
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;

}

.navbutton:after{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.navbutton:hover{
	background: linear-gradient(#073,#0fa);
}

.navbutton:disabled,
.navbutton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  height:30px;
    width:70px;
  background-image: linear-gradient(darkgray,lightgray);
  color: #666666;
}

.bottom-panel {
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-rows: auto;
    background-color: rgb(240, 240, 248);
}