:root {

    /* Creating a variable */
    
    --theme-color: hsl(313, 71%, 81%);
    
    /* Variables can have any value allowed in CSS */
    
    --border: .1rem silver solid;
    
    /* Variable nesting is possible */
    
    --family: Arial, Helvetica, sans-serif;
    
    --variant: small-caps;
    
    --size: 1.5rem;
    
    --font: var(--variant) var(--size)/1.5 var(--family);
    
    }